.box {
    width: 500px;
    height: 650px;
    margin: 10px auto;
    background-color: rgb(23, 36, 61);
    border-radius: 7px;
    padding: 4px 30px;
    font-family: sans-serif;
    color: white;
}

.form-control {
    margin-top: 30px;
    width: 200px;
}

.box_logo {
    width: 90px;
    display:block;
    margin: 0 auto; 
}

.box_title {
    font-size: 30px;
    text-align: center;
}

.check {
    display: inline-block;
}

.class_wrapper, .bag_wrapper {
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
    align-items: start;
    padding: 2px;
}

.class_wrapper2, .bag_wrapper2 {
    display: flex;
    justify-content: space-between;
    width: 250px;
}


.btn-warning {
    display: block;
    height: 35px;
    width: 200px;
    margin: 40px auto 0 auto;
    font-size: 16px;
    font-weight: 600;
    padding: 0;
}
.box_ans  {
    text-align: center;
    margin-top: 0;
    font-size: 19px;
}

.answer {
    font-size: 19px;
    text-align: center;
}

.box_ans_img {
    width: 50px;
    display: block;
    margin: 1px auto;
}

.only_b, .only_hand, .only_e, .box_ans {
    display: none;
    margin-top: 30px;
}
